<tr>
  <td>
    <%= link_to ticket.name, project_ticket_path(ticket.project, ticket) %>
  </td>
  <td>TEMP VAL</td>
  <td><%= ticket.status %></td>
  <td>
    <% if ticket.tags.empty? %>
      None
    <% else %>
      <%= ticket.tags.map(&:value).join(', ') %>
    <% end %>
  </td>
  <td>
    <% if is_logged_in? %>
      <%= link_to "Edit", edit_project_ticket_path(ticket.project, ticket) %>
      <%= link_to "Delete", project_ticket_path(ticket.project, ticket), method: :delete, data: { confirm: "Are you sure want to delete '#{ticket.name}'? It is unrecoverable." } %>
    <% end %>
  </td>
</tr>
