<h3><%= @project.name %></h3>

<%= render 'ticket', ticket: @ticket %>

<%= link_to "Back to " + @project.name, project_path(@project) %>

<h4>Comments</h4>

<% @ticket.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment, ticket: @ticket, project: @project %>
<% end %>

<h4>Add A Comment</h4>
<%= render 'comments/form', comment: Comment.new, ticket: @ticket, project: @project %>

