<h3>Tags</h3>

<table>
  <thead>
    <th>Name</th>
    <th>Tickets</th>
    <th></th>
  </thead>
  <tbody>
  <% @tags_data.each do |tag, tickets| %>
  <tr>
    <td>Name: <%= tag.value %></td>
    <td><%= link_to tickets.to_s, tickets_path(tag_id: tag.id) %></td>
    <td>
      <% if is_logged_in? %>
        <%= link_to 'Edit', edit_tag_path(tag) %> or <%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: "Are you sure want to delete '#{tag.value}? All tickets with this tag will lose it and it is unrecoverable." } %>    
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</br>

<% if is_logged_in? %>
  <%= link_to 'New Tag', new_tag_path %>
<% end %>
