<h3>Tags</h3>

<% if @tags_data.empty? %>
  <p>There are no tags in the system! Please add some first.</p>
<% else %>
<table>
  <thead>
    <th>Name</th>
    <th>Tickets</th>
    <th></th>
  </thead>
  <tbody>
  <% @tags_data.each do |tag| %>
  <tr>
    <td><%= tag[:value] %></td>
    <td>
      <% if tag[:tickets_count].to_i > 0 %>
        <%= link_to tag[:tickets_count].to_s, tickets_path(tag_id: tag[:id]) %>
      <% else %>
        <%= 0 %>
      <% end %> 
    </td>
    <td>
      <% if is_logged_in? %>
        <%= link_to 'Edit', edit_tag_path(tag[:id]) %> or <%= link_to 'Destroy', tag_path(tag[:id]), method: :delete, data: { confirm: "Are you sure want to delete '#{tag[:name]}? All tickets with this tag will lose it and it is unrecoverable." } %>    
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</br>
<% end %>

<% if is_logged_in? %>
  <%= link_to 'New Tag', new_tag_path %>
<% end %>
